In [277]:
import pandas as pd
from datetime import datetime
import numpy as np

source data --------------------------------------------------------------------------------------------
yellow = pd.read_csv("http://www.nyc.gov/html/tlc/downloads/csv/data_reports_monthly_indicators_yellow.csv")
green = pd.read_csv("http://www.nyc.gov/html/tlc/downloads/csv/data_reports_monthly_indicators_shl.csv")

In [278]:
industry_metrics = pd.read_csv("https://www1.nyc.gov/assets/tlc/downloads/csv/data_reports_monthly.csv")

In [279]:
industry_metrics

,Month/Year,License Class,Trips Per Day,Farebox Per Day,Unique Drivers,Unique Vehicles,Vehicles Per Day,Avg Days Vehicles on Road,Avg Hours Per Day Per Vehicle,Avg Days Drivers on Road,Avg Hours Per Day Per Driver,Avg Minutes Per Trip,Percent of Trips Paid with Credit Card,Trips Per Day Shared
0,2022-12,FHV - Livery,"17,750",-,"4,059","3,888","2,577",20.6,5.1,20.1,5.0,20,-,-
1,2022-12,FHV - Lux Limo,"1,068",-,"1,654","1,604",521,10.1,2.0,10.0,2.0,67,-,-
2,2022-12,FHV - Black Car,"19,063",-,"7,852","7,550","3,178",13.0,4.5,12.8,4.4,28,-,-
3,2022-12,Green,"2,336","45,208",965,942,496,16.3,3.6,16.1,3.5,15.9,66%,-
4,2022-12,Yellow,"109,290","2,358,924","10,749","7,791","6,529",26.0,8.7,22.0,7.5,16.9,79%,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,2010-05,Yellow,"499,374","5,561,218","30,950","13,309","12,729",29.6,14.8,22.7,8.3,-,35%,-
649,2010-04,Yellow,"504,798","5,502,545","30,827","13,326","12,856",28.9,14.8,22.3,8.3,-,35%,-
650,2010-03,Yellow,"415,567","3,011,750","28,709","12,183","10,382",26.4,15.1,20.4,8.3,11.5,35%,-
651,2010-02,Yellow,"397,969","3,392,416","28,255","12,171","10,045",23.1,14.6,17.6,8.3,11.1,35%,-
652,2010-01,Yellow,"479,376","4,968,817","30,659","13,305","12,727",29.7,14.3,22.5,8.2,-,32%,-

Convert column names to lowercase and replace spaces with underscores

In [280]:
industry_metrics.columns = industry_metrics.columns.str.lower()
industry_metrics.columns

Index(['month/year', 'license class',
       '               trips per day               ',
       '               farebox per day               ',
       '                unique drivers                ',
       '                unique vehicles                ',
       '                vehicles per day                ',
       '           avg days vehicles on road           ',
       '           avg hours per day per vehicle           ',
       '           avg days drivers on road           ',
       '           avg hours per day per driver           ',
       '           avg minutes per trip           ',
       'percent of trips paid with credit card', ' trips per day shared '],
      dtype='object')

In [281]:
industry_metrics.columns = [col.strip() for col in industry_metrics.columns]

In [282]:
industry_metrics.columns

Index(['month/year', 'license class', 'trips per day', 'farebox per day',
       'unique drivers', 'unique vehicles', 'vehicles per day',
       'avg days vehicles on road', 'avg hours per day per vehicle',
       'avg days drivers on road', 'avg hours per day per driver',
       'avg minutes per trip', 'percent of trips paid with credit card',
       'trips per day shared'],
      dtype='object')

In [283]:
industry_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653 entries, 0 to 652
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   month/year                              653 non-null    object
 1   license class                           653 non-null    object
 2   trips per day                           653 non-null    object
 3   farebox per day                         649 non-null    object
 4   unique drivers                          653 non-null    object
 5   unique vehicles                         653 non-null    object
 6   vehicles per day                        653 non-null    object
 7   avg days vehicles on road               653 non-null    float64
 8   avg hours per day per vehicle           653 non-null    float64
 9   avg days drivers on road                653 non-null    float64
 10  avg hours per day per driver            653 non-null    float64
 11  avg minutes per trip                    653 non-null    object
 12  percent of trips paid with credit card  653 non-null    object
 13  trips per day shared                    651 non-null    object
dtypes: float64(4), object(10)
memory usage: 71.5+ KB

Remove "%" and Convert percent_of_trips_paid_with_credit_card to numeric

In [284]:
industry_metrics['percent of trips paid with credit card'] = industry_metrics['percent of trips paid with credit card'].replace({'%': '','-':''}, regex=True) #.astype(float)
industry_metrics['percent of trips paid with credit card']

0
1
2
3      66
4      79
       ..
648    35
649    35
650    35
651    35
652    32
Name: percent of trips paid with credit card, Length: 653, dtype: object

In [285]:
industry_metrics['percent of trips paid with credit card'] = pd.to_numeric(industry_metrics['percent of trips paid with credit card'], errors='coerce') / 100
industry_metrics['percent of trips paid with credit card']

0       NaN
1       NaN
2       NaN
3      0.66
4      0.79
       ...
648    0.35
649    0.35
650    0.35
651    0.35
652    0.32
Name: percent of trips paid with credit card, Length: 653, dtype: float64

Create month_year and drop month/year column

In [286]:
industry_metrics["month_year"] = pd.to_datetime(industry_metrics["month/year"], format="%Y/%m").dt.strftime('%b-%Y')
industry_metrics.drop(columns=["month/year"], inplace=True)
industry_metrics["month_year"]

0      Dec-2022
1      Dec-2022
2      Dec-2022
3      Dec-2022
4      Dec-2022
         ...
648    May-2010
649    Apr-2010
650    Mar-2010
651    Feb-2010
652    Jan-2010
Name: month_year, Length: 653, dtype: object

convert columns to numeric

In [287]:
industry_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653 entries, 0 to 652
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   license class                           653 non-null    object
 1   trips per day                           653 non-null    object
 2   farebox per day                         649 non-null    object
 3   unique drivers                          653 non-null    object
 4   unique vehicles                         653 non-null    object
 5   vehicles per day                        653 non-null    object
 6   avg days vehicles on road               653 non-null    float64
 7   avg hours per day per vehicle           653 non-null    float64
 8   avg days drivers on road                653 non-null    float64
 9   avg hours per day per driver            653 non-null    float64
 10  avg minutes per trip                    653 non-null    object
 11  percent of trips paid with credit card  270 non-null    float64
 12  trips per day shared                    651 non-null    object
 13  month_year                              653 non-null    object
dtypes: float64(5), object(9)
memory usage: 71.5+ KB

In [288]:
industry_metrics.columns

Index(['license class', 'trips per day', 'farebox per day', 'unique drivers',
       'unique vehicles', 'vehicles per day', 'avg days vehicles on road',
       'avg hours per day per vehicle', 'avg days drivers on road',
       'avg hours per day per driver', 'avg minutes per trip',
       'percent of trips paid with credit card', 'trips per day shared',
       'month_year'],
      dtype='object')

In [289]:
 industry_metrics['trips per day'] = industry_metrics['trips per day'].apply(lambda x: x.strip().replace(',', '')).astype(int)
 industry_metrics['trips per day']

0       17750
1        1068
2       19063
3        2336
4      109290
        ...
648    499374
649    504798
650    415567
651    397969
652    479376
Name: trips per day, Length: 653, dtype: int64

In [290]:
industry_metrics.head()

,license class,trips per day,farebox per day,unique drivers,unique vehicles,vehicles per day,avg days vehicles on road,avg hours per day per vehicle,avg days drivers on road,avg hours per day per driver,avg minutes per trip,percent of trips paid with credit card,trips per day shared,month_year
0,FHV - Livery,17750,-,"4,059","3,888","2,577",20.6,5.1,20.1,5.0,20,NaN,-,Dec-2022
1,FHV - Lux Limo,1068,-,"1,654","1,604",521,10.1,2.0,10.0,2.0,67,NaN,-,Dec-2022
2,FHV - Black Car,19063,-,"7,852","7,550","3,178",13.0,4.5,12.8,4.4,28,NaN,-,Dec-2022
3,Green,2336,"45,208",965,942,496,16.3,3.6,16.1,3.5,15.9,0.66,-,Dec-2022
4,Yellow,109290,"2,358,924","10,749","7,791","6,529",26.0,8.7,22.0,7.5,16.9,0.79,-,Dec-2022

In [291]:
 industry_metrics['farebox per day'] = industry_metrics['farebox per day'].replace('-', '')
 industry_metrics['farebox per day']

0             -
1             -
2             -
3         45,208
4      2,358,924
         ...
648    5,561,218
649    5,502,545
650    3,011,750
651    3,392,416
652    4,968,817
Name: farebox per day, Length: 653, dtype: object

In [292]:
 industry_metrics['farebox per day'] = industry_metrics['farebox per day'].replace('.', '')
 industry_metrics['farebox per day'].dropna(inplace=True)

In [293]:
 industry_metrics['farebox per day'] = pd.to_numeric(industry_metrics['farebox per day'])
 industry_metrics['farebox per day']

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "pandas/_libs/lib.pyx", line 2369, in pandas._libs.lib.maybe_convert_numeric
ValueError: Unable to parse string " - "

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/luciano/Library/Python/3.10/lib/python/site-packages/IPython/core/interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/qr/g6x89n_d48j570j5qt_7mrhr0000gn/T/ipykernel_78999/656963412.py", line 1, in <module>
    industry_metrics['farebox per day'] = pd.to_numeric(industry_metrics['farebox per day'])
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/tools/numeric.py", line 185, in to_numeric
    values, _ = lib.maybe_convert_numeric(
  File "pandas/_libs/lib.pyx", line 2411, in pandas._libs.lib.maybe_convert_numeric
ValueError: Unable to parse string " - " at position 0

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/luciano/Library/Python/3.10/lib/python/site-packages/IPython/core/interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/Users/luciano/Library/Python/3.10/lib/python/site-packages/IPython/core/ultratb.py", line 1288, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/luciano/Library/Python/3.10/lib/python/site-packages/IPython/core/ultratb.py", line 1177, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/luciano/Library/Python/3.10/lib/python/site-packages/IPython/core/ultratb.py", line 1049, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "/Users/luciano/Library/Python/3.10/lib/python/site-packages/IPython/core/ultratb.py", line 935, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "/Users/luciano/Library/Python/3.10/lib/python/site-packages/IPython/core/ultratb.py", line 1003, in get_records
    lines, first = inspect.getsourcelines(etb.tb_frame)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/inspect.py", line 1121, in getsourcelines
    lines, lnum = findsource(object)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/inspect.py", line 958, in findsource
    raise OSError('could not get source code')
OSError: could not get source code

In [294]:
 industry_metrics['unique drivers'] = industry_metrics['unique drivers'].apply(lambda x: x.strip().replace(',', '')).astype(int)
 industry_metrics['unique drivers']

0       4059
1       1654
2       7852
3        965
4      10749
       ...
648    30950
649    30827
650    28709
651    28255
652    30659
Name: unique drivers, Length: 653, dtype: int64

In [295]:
 industry_metrics['unique vehicles'] = industry_metrics['unique vehicles'].apply(lambda x: x.strip().replace(',', '')).astype(int)
 industry_metrics['unique vehicles']

0       3888
1       1604
2       7550
3        942
4       7791
       ...
648    13309
649    13326
650    12183
651    12171
652    13305
Name: unique vehicles, Length: 653, dtype: int64

In [296]:
 industry_metrics['vehicles per day'] = industry_metrics['vehicles per day'].apply(lambda x: x.strip().replace(',', '')).astype(int)
 industry_metrics['vehicles per day']

0       2577
1        521
2       3178
3        496
4       6529
       ...
648    12729
649    12856
650    10382
651    10045
652    12727
Name: vehicles per day, Length: 653, dtype: int64

In [297]:
 industry_metrics['avg minutes per trip'] = industry_metrics['avg minutes per trip'].apply(lambda x: x.strip().replace('-',''))
 industry_metrics['avg minutes per trip']

0        20
1        67
2        28
3      15.9
4      16.9
       ...
648
649
650    11.5
651    11.1
652
Name: avg minutes per trip, Length: 653, dtype: object

In [298]:
 industry_metrics['avg minutes per trip'] = pd.to_numeric(industry_metrics['avg minutes per trip'])
 industry_metrics['avg minutes per trip']

0      20.0
1      67.0
2      28.0
3      15.9
4      16.9
       ...
648     NaN
649     NaN
650    11.5
651    11.1
652     NaN
Name: avg minutes per trip, Length: 653, dtype: float64

In [299]:
 industry_metrics['trips per day shared'] = industry_metrics['trips per day shared'].replace(' ','')
 industry_metrics['trips per day shared'].describe()

count     651
unique     67
top        -
freq      537
Name: trips per day shared, dtype: object

In [300]:
 industry_metrics['trips per day shared'] = industry_metrics['trips per day shared'].replace({' - ': '',' -  ':''}, regex=True)
 industry_metrics['trips per day shared'].describe()

count     651
unique     66
top
freq      537
Name: trips per day shared, dtype: object

In [301]:
industry_metrics['trips per day shared'] = industry_metrics['trips per day shared'].replace({'  ': '',' nan':'0'}, regex=True)
industry_metrics['trips per day shared'].unique()

array(['-', '', '10,672', '9,336', '3,573', '443', '466', '853', '133',
       '277', '716', '723', '635', '124', '41,051', '97,117', '90,550',
       '93,421', '103,379', '107,676', '107,780', '104,983', '104,074',
       '101,645', '124,106', '141,734', '157,704', '171,912', nan, '104',
       '157,678', '30', '128', '164,666', '35', '17,734', '160,672', '36',
       '158', '176,348', '34', '291', '148,283', '16', '168,299', '15',
       '13', '163,171', '18', '143,298', '148,036', '160,806', '14',
       '157,162', '12', '140,622', '19', '126,738', '118,649', '107,750',
       '92,641', '84,200', '76,026', '6', '68,756', '63,620'],
      dtype=object)

In [302]:
industry_metrics['trips per day shared'].fillna('0', inplace=True)
industry_metrics['trips per day shared'].unique()

array(['-', '', '10,672', '9,336', '3,573', '443', '466', '853', '133',
       '277', '716', '723', '635', '124', '41,051', '97,117', '90,550',
       '93,421', '103,379', '107,676', '107,780', '104,983', '104,074',
       '101,645', '124,106', '141,734', '157,704', '171,912', '0', '104',
       '157,678', '30', '128', '164,666', '35', '17,734', '160,672', '36',
       '158', '176,348', '34', '291', '148,283', '16', '168,299', '15',
       '13', '163,171', '18', '143,298', '148,036', '160,806', '14',
       '157,162', '12', '140,622', '19', '126,738', '118,649', '107,750',
       '92,641', '84,200', '76,026', '6', '68,756', '63,620'],
      dtype=object)

In [303]:
industry_metrics['trips per day shared'] = industry_metrics['trips per day shared'].replace({'-': '0','':'0'}, regex=True)
industry_metrics['trips per day shared'].unique()

array(['0', '10,672', '9,336', '3,573', '443', '466', '853', '133', '277',
       '716', '723', '635', '124', '41,051', '97,117', '90,550', '93,421',
       '103,379', '107,676', '107,780', '104,983', '104,074', '101,645',
       '124,106', '141,734', '157,704', '171,912', '104', '157,678', '30',
       '128', '164,666', '35', '17,734', '160,672', '36', '158',
       '176,348', '34', '291', '148,283', '16', '168,299', '15', '13',
       '163,171', '18', '143,298', '148,036', '160,806', '14', '157,162',
       '12', '140,622', '19', '126,738', '118,649', '107,750', '92,641',
       '84,200', '76,026', '6', '68,756', '63,620'], dtype=object)

In [305]:
industry_metrics['trips per day shared'] = industry_metrics['trips per day shared'].replace({',': ''}, regex=True)
industry_metrics['trips per day shared'].unique()

array(['0', '10672', '9336', '3573', '443', '466', '853', '133', '277',
       '716', '723', '635', '124', '41051', '97117', '90550', '93421',
       '103379', '107676', '107780', '104983', '104074', '101645',
       '124106', '141734', '157704', '171912', '104', '157678', '30',
       '128', '164666', '35', '17734', '160672', '36', '158', '176348',
       '34', '291', '148283', '16', '168299', '15', '13', '163171', '18',
       '143298', '148036', '160806', '14', '157162', '12', '140622', '19',
       '126738', '118649', '107750', '92641', '84200', '76026', '6',
       '68756', '63620'], dtype=object)

In [306]:
 industry_metrics['trips per day shared'] = pd.to_numeric(industry_metrics['trips per day shared'])
 industry_metrics['trips per day shared'].unique()

array([     0,  10672,   9336,   3573,    443,    466,    853,    133,
          277,    716,    723,    635,    124,  41051,  97117,  90550,
        93421, 103379, 107676, 107780, 104983, 104074, 101645, 124106,
       141734, 157704, 171912,    104, 157678,     30,    128, 164666,
           35,  17734, 160672,     36,    158, 176348,     34,    291,
       148283,     16, 168299,     15,     13, 163171,     18, 143298,
       148036, 160806,     14, 157162,     12, 140622,     19, 126738,
       118649, 107750,  92641,  84200,  76026,      6,  68756,  63620])

In [307]:
# convert column names to lowercase and replace spaces with underscores
industry_metrics.columns = industry_metrics.columns.str.lower().str.replace(" ", "_")
industry_metrics.columns

Index(['license_class', 'trips_per_day', 'farebox_per_day', 'unique_drivers',
       'unique_vehicles', 'vehicles_per_day', 'avg_days_vehicles_on_road',
       'avg_hours_per_day_per_vehicle', 'avg_days_drivers_on_road',
       'avg_hours_per_day_per_driver', 'avg_minutes_per_trip',
       'percent_of_trips_paid_with_credit_card', 'trips_per_day_shared',
       'month_year'],
      dtype='object')

In [308]:
industry_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653 entries, 0 to 652
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   license_class                           653 non-null    object
 1   trips_per_day                           653 non-null    int64
 2   farebox_per_day                         649 non-null    object
 3   unique_drivers                          653 non-null    int64
 4   unique_vehicles                         653 non-null    int64
 5   vehicles_per_day                        653 non-null    int64
 6   avg_days_vehicles_on_road               653 non-null    float64
 7   avg_hours_per_day_per_vehicle           653 non-null    float64
 8   avg_days_drivers_on_road                653 non-null    float64
 9   avg_hours_per_day_per_driver            653 non-null    float64
 10  avg_minutes_per_trip                    531 non-null    float64
 11  percent_of_trips_paid_with_credit_card  270 non-null    float64
 12  trips_per_day_shared                    653 non-null    int64
 13  month_year                              653 non-null    object
dtypes: float64(6), int64(5), object(3)
memory usage: 71.5+ KB

Create new columns

In [310]:
industry_metrics["month_year1"] = pd.to_datetime(industry_metrics["month_year"]).dt.to_period('M')

In [311]:
industry_metrics["days"] = industry_metrics["month_year1"].apply(lambda x: (datetime(x.year, x.month, 1).replace(day=28) - datetime(x.year, x.month, 1)).days)

In [312]:
industry_metrics["trips_per_month"] = industry_metrics["trips_per_day"] * industry_metrics["days"]

In [313]:
industry_metrics["month_date"] = pd.to_datetime(industry_metrics["month_year"] + '-28')

In [314]:
industry_metrics["farebox_per_month"] = industry_metrics["farebox_per_day"] * industry_metrics["days"]

In [315]:
industry_metrics["week"] = industry_metrics["month_date"].dt.strftime('%W').astype(int).apply(lambda x: str(x))

In [316]:
industry_metrics["week"] = industry_metrics["week"].astype("category")

In [317]:
industry_metrics["trips_per_week"] = industry_metrics["trips_per_day"] * 7

In [318]:
industry_metrics["year"] = pd.to_datetime(industry_metrics["month_year"], format='%b-%Y').dt.year.apply(lambda x: str(x))

In [319]:
industry_metrics["farebox_per_week"] = industry_metrics["farebox_per_day"] * 7

In [320]:
industry_metrics["license_class"] = industry_metrics["license_class"].astype("category")

In [321]:
industry_metrics["total_trips_per_day"] = industry_metrics["trips_per_day"] + industry_metrics["trips_per_day_shared"]

In [322]:
industry_metrics["shared_trips_per_day_percent"] = np.round(industry_metrics["trips_per_day_shared"] / industry_metrics["total_trips_per_day"], 2)

In [327]:
industry_metrics['month_year1'] = pd.to_datetime(industry_metrics['month_year']).dt.to_period('M')
industry_metrics['days'] = pd.to_datetime(industry_metrics['month_year1'].astype(str) + '-01').dt.daysinmonth
industry_metrics['trips_per_month'] = industry_metrics['trips_per_day'] * industry_metrics['days']
industry_metrics['month_date'] = pd.to_datetime(industry_metrics['month_year'] + '-28')
industry_metrics['farebox_per_month'] = industry_metrics['farebox_per_day'] * industry_metrics['days']
industry_metrics['week'] = pd.to_datetime(industry_metrics['month_date']).dt.strftime('%W').astype('category')
industry_metrics['trips_per_week'] = industry_metrics['trips_per_day'] * 7
industry_metrics['year'] = pd.to_datetime(industry_metrics['month_year']).dt.strftime('%Y')
industry_metrics['farebox_per_week'] = industry_metrics['farebox_per_day'] * 7
industry_metrics['license_class'] = industry_metrics['license_class'].astype('category')
industry_metrics['total_trips_per_day'] = industry_metrics['trips_per_day'] + industry_metrics['trips_per_day_shared']
industry_metrics['shared_trips_per_day_percent'] = round(industry_metrics['trips_per_day_shared'] / industry_metrics['total_trips_per_day'], 2)

Copy for compatibility with old code

In [328]:
industry_metrics = industry_metrics.copy()

In [329]:
# remove the 'days' column
industry_metrics.drop(columns=["days"], inplace=True)

In [330]:
# reorder rows by 'license_class' and 'month_date'
industry_metrics = industry_metrics.sort_values(by=["license_class", "month_date"], ascending=[True, False])
industry_metrics.reset_index(drop=True)

,license_class,trips_per_day,farebox_per_day,unique_drivers,unique_vehicles,vehicles_per_day,avg_days_vehicles_on_road,avg_hours_per_day_per_vehicle,avg_days_drivers_on_road,avg_hours_per_day_per_driver,...,month_year1,trips_per_month,month_date,farebox_per_month,week,trips_per_week,year,farebox_per_week,total_trips_per_day,shared_trips_per_day_percent
0,FHV - Black Car,19063,-,7852,7550,3178,13.0,4.5,12.8,4.4,...,2022-12,590953,2022-12-28,- - - - - - - - - - - - - - - ...,52,133441,2022,- - - - - - -,19063,0.0
1,FHV - Black Car,16695,-,7175,7146,3119,13.1,4.2,13.1,4.2,...,2022-11,500850,2022-11-28,- - - - - - - - - - - - - - - ...,48,116865,2022,- - - - - - -,16695,0.0
2,FHV - Black Car,17143,-,7360,7027,3105,13.7,4.3,13.4,4.2,...,2022-10,531433,2022-10-28,- - - - - - - - - ...,43,120001,2022,- - - - - - -,17143,0.0
3,FHV - Black Car,17259,-,7184,6949,3060,13.2,4.3,13.1,4.2,...,2022-09,517770,2022-09-28,- - - - - - -...,39,120813,2022,- - - - - - -,17259,0.0
4,FHV - Black Car,12590,-,6268,6223,2551,12.7,3.8,12.8,3.8,...,2022-08,390290,2022-08-28,- - - - - ...,34,88130,2022,- - - - - ...,12590,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,Yellow,499374,"5,561,218",30950,13309,12729,29.6,14.8,22.7,8.3,...,2010-05,15480594,2010-05-28,"5,561,2185,561,2185,561,2185,561,2185,561,2185...",21,3495618,2010,"5,561,2185,561,2185,561,2185,561,2185,561,2185...",499374,0.0
649,Yellow,504798,"5,502,545",30827,13326,12856,28.9,14.8,22.3,8.3,...,2010-04,15143940,2010-04-28,"5,502,5455,502,5455,502,5455,502,5455,502,5455...",17,3533586,2010,"5,502,5455,502,5455,502,5455,502,5455,502,5455...",504798,0.0
650,Yellow,415567,"3,011,750",28709,12183,10382,26.4,15.1,20.4,8.3,...,2010-03,12882577,2010-03-28,"3,011,7503,011,7503,011,7503,011,7503,011,7503...",12,2908969,2010,"3,011,7503,011,7503,011,7503,011,7503,011,7503...",415567,0.0
651,Yellow,397969,"3,392,416",28255,12171,10045,23.1,14.6,17.6,8.3,...,2010-02,11143132,2010-02-28,"3,392,4163,392,4163,392,4163,392,4163,392,4163...",08,2785783,2010,"3,392,4163,392,4163,392,4163,392,4163,392,4163...",397969,0.0
652,Yellow,479376,"4,968,817",30659,13305,12727,29.7,14.3,22.5,8.2,...,2010-01,14860656,2010-01-28,"4,968,8174,968,8174,968,8174,968,8174,968,8174...",04,3355632,2010,"4,968,8174,968,8174,968,8174,968,8174,968,8174...",479376,0.0

In [331]:
# convert 'industry_metrics' to a pandas dataframe
industry_metrics = pd.DataFrame(industry_metrics)

In [332]:
industry_metrics

,license_class,trips_per_day,farebox_per_day,unique_drivers,unique_vehicles,vehicles_per_day,avg_days_vehicles_on_road,avg_hours_per_day_per_vehicle,avg_days_drivers_on_road,avg_hours_per_day_per_driver,...,month_year1,trips_per_month,month_date,farebox_per_month,week,trips_per_week,year,farebox_per_week,total_trips_per_day,shared_trips_per_day_percent
2,FHV - Black Car,19063,-,7852,7550,3178,13.0,4.5,12.8,4.4,...,2022-12,590953,2022-12-28,- - - - - - - - - - - - - - - ...,52,133441,2022,- - - - - - -,19063,0.0
6,FHV - Black Car,16695,-,7175,7146,3119,13.1,4.2,13.1,4.2,...,2022-11,500850,2022-11-28,- - - - - - - - - - - - - - - ...,48,116865,2022,- - - - - - -,16695,0.0
14,FHV - Black Car,17143,-,7360,7027,3105,13.7,4.3,13.4,4.2,...,2022-10,531433,2022-10-28,- - - - - - - - - ...,43,120001,2022,- - - - - - -,17143,0.0
20,FHV - Black Car,17259,-,7184,6949,3060,13.2,4.3,13.1,4.2,...,2022-09,517770,2022-09-28,- - - - - - -...,39,120813,2022,- - - - - - -,17259,0.0
25,FHV - Black Car,12590,-,6268,6223,2551,12.7,3.8,12.8,3.8,...,2022-08,390290,2022-08-28,- - - - - ...,34,88130,2022,- - - - - ...,12590,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,Yellow,499374,"5,561,218",30950,13309,12729,29.6,14.8,22.7,8.3,...,2010-05,15480594,2010-05-28,"5,561,2185,561,2185,561,2185,561,2185,561,2185...",21,3495618,2010,"5,561,2185,561,2185,561,2185,561,2185,561,2185...",499374,0.0
649,Yellow,504798,"5,502,545",30827,13326,12856,28.9,14.8,22.3,8.3,...,2010-04,15143940,2010-04-28,"5,502,5455,502,5455,502,5455,502,5455,502,5455...",17,3533586,2010,"5,502,5455,502,5455,502,5455,502,5455,502,5455...",504798,0.0
650,Yellow,415567,"3,011,750",28709,12183,10382,26.4,15.1,20.4,8.3,...,2010-03,12882577,2010-03-28,"3,011,7503,011,7503,011,7503,011,7503,011,7503...",12,2908969,2010,"3,011,7503,011,7503,011,7503,011,7503,011,7503...",415567,0.0
651,Yellow,397969,"3,392,416",28255,12171,10045,23.1,14.6,17.6,8.3,...,2010-02,11143132,2010-02-28,"3,392,4163,392,4163,392,4163,392,4163,392,4163...",08,2785783,2010,"3,392,4163,392,4163,392,4163,392,4163,392,4163...",397969,0.0
652,Yellow,479376,"4,968,817",30659,13305,12727,29.7,14.3,22.5,8.2,...,2010-01,14860656,2010-01-28,"4,968,8174,968,8174,968,8174,968,8174,968,8174...",04,3355632,2010,"4,968,8174,968,8174,968,8174,968,8174,968,8174...",479376,0.0

In [333]:
industry_metrics.to_csv('df.csv')