In [53]:
import pandas as pd
from datetime import datetime
import numpy as np

source data --------------------------------------------------------------------------------------------
yellow = pd.read_csv("http://www.nyc.gov/html/tlc/downloads/csv/data_reports_monthly_indicators_yellow.csv")
green = pd.read_csv("http://www.nyc.gov/html/tlc/downloads/csv/data_reports_monthly_indicators_shl.csv")

In [54]:
industry_metrics = pd.read_csv("https://www1.nyc.gov/assets/tlc/downloads/csv/data_reports_monthly.csv")

In [55]:
industry_metrics

,Month/Year,License Class,Trips Per Day,Farebox Per Day,Unique Drivers,Unique Vehicles,Vehicles Per Day,Avg Days Vehicles on Road,Avg Hours Per Day Per Vehicle,Avg Days Drivers on Road,Avg Hours Per Day Per Driver,Avg Minutes Per Trip,Percent of Trips Paid with Credit Card,Trips Per Day Shared
0,2022-12,FHV - Livery,"17,750",-,"4,059","3,888","2,577",20.6,5.1,20.1,5.0,20,-,-
1,2022-12,FHV - Lux Limo,"1,068",-,"1,654","1,604",521,10.1,2.0,10.0,2.0,67,-,-
2,2022-12,FHV - Black Car,"19,063",-,"7,852","7,550","3,178",13.0,4.5,12.8,4.4,28,-,-
3,2022-12,Green,"2,336","45,208",965,942,496,16.3,3.6,16.1,3.5,15.9,66%,-
4,2022-12,Yellow,"109,290","2,358,924","10,749","7,791","6,529",26.0,8.7,22.0,7.5,16.9,79%,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,2010-05,Yellow,"499,374","5,561,218","30,950","13,309","12,729",29.6,14.8,22.7,8.3,-,35%,-
649,2010-04,Yellow,"504,798","5,502,545","30,827","13,326","12,856",28.9,14.8,22.3,8.3,-,35%,-
650,2010-03,Yellow,"415,567","3,011,750","28,709","12,183","10,382",26.4,15.1,20.4,8.3,11.5,35%,-
651,2010-02,Yellow,"397,969","3,392,416","28,255","12,171","10,045",23.1,14.6,17.6,8.3,11.1,35%,-
652,2010-01,Yellow,"479,376","4,968,817","30,659","13,305","12,727",29.7,14.3,22.5,8.2,-,32%,-

Convert column names to lowercase

In [56]:
industry_metrics.columns = industry_metrics.columns.str.lower()
industry_metrics.columns

Index(['month/year', 'license class',
       '               trips per day               ',
       '               farebox per day               ',
       '                unique drivers                ',
       '                unique vehicles                ',
       '                vehicles per day                ',
       '           avg days vehicles on road           ',
       '           avg hours per day per vehicle           ',
       '           avg days drivers on road           ',
       '           avg hours per day per driver           ',
       '           avg minutes per trip           ',
       'percent of trips paid with credit card', ' trips per day shared '],
      dtype='object')

In [57]:
industry_metrics.columns = [col.strip() for col in industry_metrics.columns]

In [58]:
industry_metrics.columns

Index(['month/year', 'license class', 'trips per day', 'farebox per day',
       'unique drivers', 'unique vehicles', 'vehicles per day',
       'avg days vehicles on road', 'avg hours per day per vehicle',
       'avg days drivers on road', 'avg hours per day per driver',
       'avg minutes per trip', 'percent of trips paid with credit card',
       'trips per day shared'],
      dtype='object')

In [59]:
industry_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653 entries, 0 to 652
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   month/year                              653 non-null    object
 1   license class                           653 non-null    object
 2   trips per day                           653 non-null    object
 3   farebox per day                         649 non-null    object
 4   unique drivers                          653 non-null    object
 5   unique vehicles                         653 non-null    object
 6   vehicles per day                        653 non-null    object
 7   avg days vehicles on road               653 non-null    float64
 8   avg hours per day per vehicle           653 non-null    float64
 9   avg days drivers on road                653 non-null    float64
 10  avg hours per day per driver            653 non-null    float64
 11  avg minutes per trip                    653 non-null    object
 12  percent of trips paid with credit card  653 non-null    object
 13  trips per day shared                    651 non-null    object
dtypes: float64(4), object(10)
memory usage: 71.5+ KB

Remove "%" and Convert percent_of_trips_paid_with_credit_card to numeric

In [60]:
industry_metrics['percent of trips paid with credit card'] = industry_metrics['percent of trips paid with credit card'].replace({'%': '','-':''}, regex=True) #.astype(float)
industry_metrics['percent of trips paid with credit card']

0
1
2
3      66
4      79
       ..
648    35
649    35
650    35
651    35
652    32
Name: percent of trips paid with credit card, Length: 653, dtype: object

In [61]:
industry_metrics['percent of trips paid with credit card'] = pd.to_numeric(industry_metrics['percent of trips paid with credit card'], errors='coerce') / 100
industry_metrics['percent of trips paid with credit card']

0       NaN
1       NaN
2       NaN
3      0.66
4      0.79
       ...
648    0.35
649    0.35
650    0.35
651    0.35
652    0.32
Name: percent of trips paid with credit card, Length: 653, dtype: float64

Create month_year and drop month/year column

In [62]:
industry_metrics["month_year"] = pd.to_datetime(industry_metrics["month/year"], format="%Y/%m").dt.strftime('%b-%Y')
industry_metrics.drop(columns=["month/year"], inplace=True)
industry_metrics["month_year"]

0      Dec-2022
1      Dec-2022
2      Dec-2022
3      Dec-2022
4      Dec-2022
         ...
648    May-2010
649    Apr-2010
650    Mar-2010
651    Feb-2010
652    Jan-2010
Name: month_year, Length: 653, dtype: object

convert columns to numeric

In [63]:
industry_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653 entries, 0 to 652
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   license class                           653 non-null    object
 1   trips per day                           653 non-null    object
 2   farebox per day                         649 non-null    object
 3   unique drivers                          653 non-null    object
 4   unique vehicles                         653 non-null    object
 5   vehicles per day                        653 non-null    object
 6   avg days vehicles on road               653 non-null    float64
 7   avg hours per day per vehicle           653 non-null    float64
 8   avg days drivers on road                653 non-null    float64
 9   avg hours per day per driver            653 non-null    float64
 10  avg minutes per trip                    653 non-null    object
 11  percent of trips paid with credit card  270 non-null    float64
 12  trips per day shared                    651 non-null    object
 13  month_year                              653 non-null    object
dtypes: float64(5), object(9)
memory usage: 71.5+ KB

In [64]:
industry_metrics.columns

Index(['license class', 'trips per day', 'farebox per day', 'unique drivers',
       'unique vehicles', 'vehicles per day', 'avg days vehicles on road',
       'avg hours per day per vehicle', 'avg days drivers on road',
       'avg hours per day per driver', 'avg minutes per trip',
       'percent of trips paid with credit card', 'trips per day shared',
       'month_year'],
      dtype='object')

In [65]:
industry_metrics['trips per day'] = industry_metrics['trips per day'].apply(lambda x: x.strip().replace(',', '')).astype(int)
industry_metrics['trips per day']

0       17750
1        1068
2       19063
3        2336
4      109290
        ...
648    499374
649    504798
650    415567
651    397969
652    479376
Name: trips per day, Length: 653, dtype: int64

In [66]:
industry_metrics.head()

,license class,trips per day,farebox per day,unique drivers,unique vehicles,vehicles per day,avg days vehicles on road,avg hours per day per vehicle,avg days drivers on road,avg hours per day per driver,avg minutes per trip,percent of trips paid with credit card,trips per day shared,month_year
0,FHV - Livery,17750,-,"4,059","3,888","2,577",20.6,5.1,20.1,5.0,20,NaN,-,Dec-2022
1,FHV - Lux Limo,1068,-,"1,654","1,604",521,10.1,2.0,10.0,2.0,67,NaN,-,Dec-2022
2,FHV - Black Car,19063,-,"7,852","7,550","3,178",13.0,4.5,12.8,4.4,28,NaN,-,Dec-2022
3,Green,2336,"45,208",965,942,496,16.3,3.6,16.1,3.5,15.9,0.66,-,Dec-2022
4,Yellow,109290,"2,358,924","10,749","7,791","6,529",26.0,8.7,22.0,7.5,16.9,0.79,-,Dec-2022

In [67]:
industry_metrics['farebox per day'].unique()

array([' - ', '45,208', '2,358,924', '35,984', '2,088,897', '  -  ',
       '2,293,014', '39,960', '   -   ', '2,100,507', '43,814',
       '    -    ', '38,915', '1,918,370', '     -     ', '1,921,789',
       '37,356', '2,057,705', '44,572', '44,850', '2,234,977',
       '        -        ', '         -         ', '2,219,127', '43,591',
       '          -           ', '42,436', '2,097,334', '40,475',
       '          -          ', '1,805,865', '1,330,596',
       '           -           ', '32,510', '1,903,870',
       '            -            ', '70,840', '2,103,014', '82,076',
       '             -             ', '              -              ',
       '1,993,228', '82,093', '               -               ', '77,261',
       '1,826,391', '1,611,851', '63,670', '63,047', '1,605,062',
       '65,833', '1,607,814', '65,575', '1,340,447', '67,873',
       '1,182,789', '62,408', '979,149',
       '                -                ', '52,276', '755,115', nan,
       '56,409', '688,811', '60,329', '744,835', '66,505', '786,213',
       '68,559', '880,080', '66,854', '707,226', '62,686', '548,752',
       '54,821', '438,974', '46,850', '314,459', '38,440', '206,533',
       '22,495', '119,078', '113,973', '1,620,345', '240,822',
       '3,556,087', '236,992', '3,403,736', '162,078', '3,806,944',
       '                -                  ', '170,328', '3,872,769',
       '                 -                   ', '178,014', '4,006,128',
       '190,621', '3,814,692', '188,318', '3,385,162', '205,934',
       '3,501,565', '235,578', '4,042,788', '243,583', '4,214,808',
       '               -                 ', '249,506', '4,215,927',
       '305,302', '4,289,036', '325,509', '4,105,322', '309,210',
       '3,413,625', '341,294', '3,852,809', '344,302', '4,035,397',
       '360,292', '4,267,309', '345,939', '3,995,849', '326,276',
       '3,742,832', '331,003', '3,735,128', '374,454', '4,283,693',
       '386,965', '4,431,220', '384,918', '4,486,177', '374,253',
       '4,293,867', '360,001', '4,138,935', '331,105', '3,863,024',
       '383,355', '4,407,843', '386,722', '4,517,934', '401,160',
       '4,681,421', '402,289', '4,422,289', '373,385', '3,985,437',
       '391,767', '4,037,177', '432,850', '4,751,867', '449,352',
       '4,848,494', '465,532', '4,865,420', '473,888', '4,770,322',
       '461,734', '4,531,822', '431,323', '4,314,880', '508,205',
       '4,869,413', '501,128', '4,980,423', '540,913', '5,196,275',
       '529,544', '5,167,170', '547,786', '4,722,586', '589,602',
       '4,924,633', '645,016', '5,564,246', '681,032', '5,654,653',
       '692,778', '5,721,501', '673,269', '5,614,089', '676,135',
       '5,427,875', '613,966', '4,886,897', '700,319', '5,425,880',
       '685,908', '5,502,861', '716,779', '5,856,687', '687,469',
       '5,520,038', '678,711', '5,200,177', '681,299', '5,392,570',
       '801,215', '6,014,938', '862,099', '6,239,552', '805,698',
       '6,226,205', '793,672', '6,076,181', '798,649', '6,097,785',
       '673,523', '5,442,278', '701,885', '5,868,025', '684,927',
       '6,113,253', '649,348', '6,432,093', '623,638', '6,284,615',
       '595,477', '5,709,153', '560,319', '5,832,040', '616,892',
       '6,490,355', '636,698', '6,718,530', '580,228', '6,613,192',
       '543,542', '6,612,023', '465,192', '6,122,310', '331,334',
       '5,790,713', '257,398', '6,176,199', '168,976', '6,470,910',
       '74,128', '6,648,711', '23,087', '6,493,533', '4,028', '5,553,989',
       '5,983,709', '6,555,608', '6,744,373', '6,714,891', '6,646,912',
       '6,356,651', '6,045,087', '6,326,604', '6,094,937', '6,346,508',
       '6,512,203', '5,357,572', '5,292,247', '5,831,841', '5,838,542',
       '5,861,876', '5,860,835', '5,655,691', '5,220,456', '5,493,999',
       '5,572,296', '5,790,312', '5,687,581', '4,851,734', '5,350,809',
       '5,743,238', '5,730,613', '5,456,034', '5,717,207', '5,474,959',
       '4,661,317', '4,985,892', '5,165,797', '5,122,617', '5,827,246',
       '4,490,108', '5,216,891', '5,503,949', '5,561,218', '5,502,545',
       '3,011,750', '3,392,416', '4,968,817'], dtype=object)

In [87]:
industry_metrics['farebox per day'] = industry_metrics['farebox per day'].apply(lambda x: x.strip() if isinstance(x, str) else x)
industry_metrics['farebox per day'].unique()

array(['0', '45,208', '2,358,924', '35,984', '2,088,897', '2,293,014',
       '39,960', '2,100,507', '43,814', '38,915', '1,918,370',
       '1,921,789', '37,356', '2,057,705', '44,572', '44,850',
       '2,234,977', '2,219,127', '43,591', '42,436', '2,097,334',
       '40,475', '1,805,865', '1,330,596', '32,510', '1,903,870',
       '70,840', '2,103,014', '82,076', '1,993,228', '82,093', '77,261',
       '1,826,391', '1,611,851', '63,670', '63,047', '1,605,062',
       '65,833', '1,607,814', '65,575', '1,340,447', '67,873',
       '1,182,789', '62,408', '979,149', '52,276', '755,115', '56,409',
       '688,811', '60,329', '744,835', '66,505', '786,213', '68,559',
       '880,080', '66,854', '707,226', '62,686', '548,752', '54,821',
       '438,974', '46,850', '314,459', '38,440', '206,533', '22,495',
       '119,078', '113,973', '1,620,345', '240,822', '3,556,087',
       '236,992', '3,403,736', '162,078', '3,806,944', '170,328',
       '3,872,769', '178,014', '4,006,128', '190,621', '3,814,692',
       '188,318', '3,385,162', '205,934', '3,501,565', '235,578',
       '4,042,788', '243,583', '4,214,808', '249,506', '4,215,927',
       '305,302', '4,289,036', '325,509', '4,105,322', '309,210',
       '3,413,625', '341,294', '3,852,809', '344,302', '4,035,397',
       '360,292', '4,267,309', '345,939', '3,995,849', '326,276',
       '3,742,832', '331,003', '3,735,128', '374,454', '4,283,693',
       '386,965', '4,431,220', '384,918', '4,486,177', '374,253',
       '4,293,867', '360,001', '4,138,935', '331,105', '3,863,024',
       '383,355', '4,407,843', '386,722', '4,517,934', '401,160',
       '4,681,421', '402,289', '4,422,289', '373,385', '3,985,437',
       '391,767', '4,037,177', '432,850', '4,751,867', '449,352',
       '4,848,494', '465,532', '4,865,420', '473,888', '4,770,322',
       '461,734', '4,531,822', '431,323', '4,314,880', '508,205',
       '4,869,413', '501,128', '4,980,423', '540,913', '5,196,275',
       '529,544', '5,167,170', '547,786', '4,722,586', '589,602',
       '4,924,633', '645,016', '5,564,246', '681,032', '5,654,653',
       '692,778', '5,721,501', '673,269', '5,614,089', '676,135',
       '5,427,875', '613,966', '4,886,897', '700,319', '5,425,880',
       '685,908', '5,502,861', '716,779', '5,856,687', '687,469',
       '5,520,038', '678,711', '5,200,177', '681,299', '5,392,570',
       '801,215', '6,014,938', '862,099', '6,239,552', '805,698',
       '6,226,205', '793,672', '6,076,181', '798,649', '6,097,785',
       '673,523', '5,442,278', '701,885', '5,868,025', '684,927',
       '6,113,253', '649,348', '6,432,093', '623,638', '6,284,615',
       '595,477', '5,709,153', '560,319', '5,832,040', '616,892',
       '6,490,355', '636,698', '6,718,530', '580,228', '6,613,192',
       '543,542', '6,612,023', '465,192', '6,122,310', '331,334',
       '5,790,713', '257,398', '6,176,199', '168,976', '6,470,910',
       '74,128', '6,648,711', '23,087', '6,493,533', '4,028', '5,553,989',
       '5,983,709', '6,555,608', '6,744,373', '6,714,891', '6,646,912',
       '6,356,651', '6,045,087', '6,326,604', '6,094,937', '6,346,508',
       '6,512,203', '5,357,572', '5,292,247', '5,831,841', '5,838,542',
       '5,861,876', '5,860,835', '5,655,691', '5,220,456', '5,493,999',
       '5,572,296', '5,790,312', '5,687,581', '4,851,734', '5,350,809',
       '5,743,238', '5,730,613', '5,456,034', '5,717,207', '5,474,959',
       '4,661,317', '4,985,892', '5,165,797', '5,122,617', '5,827,246',
       '4,490,108', '5,216,891', '5,503,949', '5,561,218', '5,502,545',
       '3,011,750', '3,392,416', '4,968,817'], dtype=object)

In [88]:
industry_metrics['farebox per day'] = industry_metrics['farebox per day'].replace('-', '0')
# industry_metrics['farebox per day']

0              0
1              0
2              0
3         45,208
4      2,358,924
         ...
648    5,561,218
649    5,502,545
650    3,011,750
651    3,392,416
652    4,968,817
Name: farebox per day, Length: 653, dtype: object

In [83]:
industry_metrics['farebox per day'] = industry_metrics['farebox per day'].fillna('0')
industry_metrics['farebox per day']

0              0
1              0
2              0
3         45,208
4      2,358,924
         ...
648    5,561,218
649    5,502,545
650    3,011,750
651    3,392,416
652    4,968,817
Name: farebox per day, Length: 653, dtype: object

In [92]:
industry_metrics['farebox per day'] = industry_metrics['farebox per day'].apply(lambda x: x.strip().replace(',', '')).astype(int)
industry_metrics['farebox per day']

0            0
1            0
2            0
3        45208
4      2358924
        ...
648    5561218
649    5502545
650    3011750
651    3392416
652    4968817
Name: farebox per day, Length: 653, dtype: int64

In [93]:
industry_metrics['farebox per day'] = pd.to_numeric(industry_metrics['farebox per day'])
industry_metrics['farebox per day']

0            0
1            0
2            0
3        45208
4      2358924
        ...
648    5561218
649    5502545
650    3011750
651    3392416
652    4968817
Name: farebox per day, Length: 653, dtype: int64

In [94]:
industry_metrics['unique drivers'] = industry_metrics['unique drivers'].apply(lambda x: x.strip().replace(',', '')).astype(int)
industry_metrics['unique drivers']

0       4059
1       1654
2       7852
3        965
4      10749
       ...
648    30950
649    30827
650    28709
651    28255
652    30659
Name: unique drivers, Length: 653, dtype: int64

In [95]:
industry_metrics['unique vehicles'] = industry_metrics['unique vehicles'].apply(lambda x: x.strip().replace(',', '')).astype(int)
industry_metrics['unique vehicles']

0       3888
1       1604
2       7550
3        942
4       7791
       ...
648    13309
649    13326
650    12183
651    12171
652    13305
Name: unique vehicles, Length: 653, dtype: int64

In [96]:
industry_metrics['vehicles per day'] = industry_metrics['vehicles per day'].apply(lambda x: x.strip().replace(',', '')).astype(int)
industry_metrics['vehicles per day']

0       2577
1        521
2       3178
3        496
4       6529
       ...
648    12729
649    12856
650    10382
651    10045
652    12727
Name: vehicles per day, Length: 653, dtype: int64

In [97]:
industry_metrics['avg minutes per trip'] = industry_metrics['avg minutes per trip'].apply(lambda x: x.strip().replace('-',''))
industry_metrics['avg minutes per trip']

0        20
1        67
2        28
3      15.9
4      16.9
       ...
648
649
650    11.5
651    11.1
652
Name: avg minutes per trip, Length: 653, dtype: object

In [100]:
industry_metrics['avg minutes per trip'] = pd.to_numeric(industry_metrics['avg minutes per trip'])
industry_metrics['avg minutes per trip'].fillna('0',inplace=True)

In [101]:
industry_metrics['trips per day shared'] = industry_metrics['trips per day shared'].replace(' ','')
industry_metrics['trips per day shared'].describe()

count     651
unique     67
top        -
freq      537
Name: trips per day shared, dtype: object

In [102]:
industry_metrics['trips per day shared'] = industry_metrics['trips per day shared'].replace({' - ': '',' -  ':''}, regex=True)
industry_metrics['trips per day shared'].describe()

count     651
unique     66
top
freq      537
Name: trips per day shared, dtype: object

In [103]:
industry_metrics['trips per day shared'] = industry_metrics['trips per day shared'].replace({'  ': '',' nan':'0'}, regex=True)
industry_metrics['trips per day shared'].unique()

array(['-', '', '10,672', '9,336', '3,573', '443', '466', '853', '133',
       '277', '716', '723', '635', '124', '41,051', '97,117', '90,550',
       '93,421', '103,379', '107,676', '107,780', '104,983', '104,074',
       '101,645', '124,106', '141,734', '157,704', '171,912', nan, '104',
       '157,678', '30', '128', '164,666', '35', '17,734', '160,672', '36',
       '158', '176,348', '34', '291', '148,283', '16', '168,299', '15',
       '13', '163,171', '18', '143,298', '148,036', '160,806', '14',
       '157,162', '12', '140,622', '19', '126,738', '118,649', '107,750',
       '92,641', '84,200', '76,026', '6', '68,756', '63,620'],
      dtype=object)

In [104]:
industry_metrics['trips per day shared'].fillna('0', inplace=True)
industry_metrics['trips per day shared'].unique()

array(['-', '', '10,672', '9,336', '3,573', '443', '466', '853', '133',
       '277', '716', '723', '635', '124', '41,051', '97,117', '90,550',
       '93,421', '103,379', '107,676', '107,780', '104,983', '104,074',
       '101,645', '124,106', '141,734', '157,704', '171,912', '0', '104',
       '157,678', '30', '128', '164,666', '35', '17,734', '160,672', '36',
       '158', '176,348', '34', '291', '148,283', '16', '168,299', '15',
       '13', '163,171', '18', '143,298', '148,036', '160,806', '14',
       '157,162', '12', '140,622', '19', '126,738', '118,649', '107,750',
       '92,641', '84,200', '76,026', '6', '68,756', '63,620'],
      dtype=object)

In [105]:
industry_metrics['trips per day shared'] = industry_metrics['trips per day shared'].replace({'-': '0','':'0'}, regex=True)
industry_metrics['trips per day shared'].unique()

array(['0', '10,672', '9,336', '3,573', '443', '466', '853', '133', '277',
       '716', '723', '635', '124', '41,051', '97,117', '90,550', '93,421',
       '103,379', '107,676', '107,780', '104,983', '104,074', '101,645',
       '124,106', '141,734', '157,704', '171,912', '104', '157,678', '30',
       '128', '164,666', '35', '17,734', '160,672', '36', '158',
       '176,348', '34', '291', '148,283', '16', '168,299', '15', '13',
       '163,171', '18', '143,298', '148,036', '160,806', '14', '157,162',
       '12', '140,622', '19', '126,738', '118,649', '107,750', '92,641',
       '84,200', '76,026', '6', '68,756', '63,620'], dtype=object)

In [106]:
industry_metrics['trips per day shared'] = industry_metrics['trips per day shared'].replace({',': ''}, regex=True)
industry_metrics['trips per day shared'].unique()

array(['0', '10672', '9336', '3573', '443', '466', '853', '133', '277',
       '716', '723', '635', '124', '41051', '97117', '90550', '93421',
       '103379', '107676', '107780', '104983', '104074', '101645',
       '124106', '141734', '157704', '171912', '104', '157678', '30',
       '128', '164666', '35', '17734', '160672', '36', '158', '176348',
       '34', '291', '148283', '16', '168299', '15', '13', '163171', '18',
       '143298', '148036', '160806', '14', '157162', '12', '140622', '19',
       '126738', '118649', '107750', '92641', '84200', '76026', '6',
       '68756', '63620'], dtype=object)

In [107]:
industry_metrics['trips per day shared'] = pd.to_numeric(industry_metrics['trips per day shared'])
industry_metrics['trips per day shared'].unique()

array([     0,  10672,   9336,   3573,    443,    466,    853,    133,
          277,    716,    723,    635,    124,  41051,  97117,  90550,
        93421, 103379, 107676, 107780, 104983, 104074, 101645, 124106,
       141734, 157704, 171912,    104, 157678,     30,    128, 164666,
           35,  17734, 160672,     36,    158, 176348,     34,    291,
       148283,     16, 168299,     15,     13, 163171,     18, 143298,
       148036, 160806,     14, 157162,     12, 140622,     19, 126738,
       118649, 107750,  92641,  84200,  76026,      6,  68756,  63620])

In [108]:
# convert column names to lowercase and replace spaces with underscores
industry_metrics.columns = industry_metrics.columns.str.lower().str.replace(" ", "_")
industry_metrics.columns

Index(['license_class', 'trips_per_day', 'farebox_per_day', 'unique_drivers',
       'unique_vehicles', 'vehicles_per_day', 'avg_days_vehicles_on_road',
       'avg_hours_per_day_per_vehicle', 'avg_days_drivers_on_road',
       'avg_hours_per_day_per_driver', 'avg_minutes_per_trip',
       'percent_of_trips_paid_with_credit_card', 'trips_per_day_shared',
       'month_year'],
      dtype='object')

In [109]:
industry_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653 entries, 0 to 652
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   license_class                           653 non-null    object
 1   trips_per_day                           653 non-null    int64
 2   farebox_per_day                         653 non-null    int64
 3   unique_drivers                          653 non-null    int64
 4   unique_vehicles                         653 non-null    int64
 5   vehicles_per_day                        653 non-null    int64
 6   avg_days_vehicles_on_road               653 non-null    float64
 7   avg_hours_per_day_per_vehicle           653 non-null    float64
 8   avg_days_drivers_on_road                653 non-null    float64
 9   avg_hours_per_day_per_driver            653 non-null    float64
 10  avg_minutes_per_trip                    653 non-null    object
 11  percent_of_trips_paid_with_credit_card  270 non-null    float64
 12  trips_per_day_shared                    653 non-null    int64
 13  month_year                              653 non-null    object
dtypes: float64(5), int64(6), object(3)
memory usage: 71.5+ KB

Create new columns

In [112]:
industry_metrics["month_year1"] = pd.to_datetime(industry_metrics["month_year"]).dt.to_period('M')

In [113]:
industry_metrics["days"] = industry_metrics["month_year1"].apply(lambda x: (datetime(x.year, x.month, 1).replace(day=28) - datetime(x.year, x.month, 1)).days)

In [114]:
industry_metrics["trips_per_month"] = industry_metrics["trips_per_day"] * industry_metrics["days"]

In [115]:
industry_metrics["month_date"] = pd.to_datetime(industry_metrics["month_year"] + '-28')

In [116]:
industry_metrics["farebox_per_month"] = industry_metrics["farebox_per_day"] * industry_metrics["days"]

In [117]:
industry_metrics["week"] = industry_metrics["month_date"].dt.strftime('%W').astype(int).apply(lambda x: str(x))

In [118]:
industry_metrics["week"] = industry_metrics["week"].astype("category")

In [119]:
industry_metrics["trips_per_week"] = industry_metrics["trips_per_day"] * 7

In [120]:
industry_metrics["year"] = pd.to_datetime(industry_metrics["month_year"], format='%b-%Y').dt.year.apply(lambda x: str(x))

In [121]:
industry_metrics["farebox_per_week"] = industry_metrics["farebox_per_day"] * 7

In [122]:
industry_metrics["license_class"] = industry_metrics["license_class"].astype("category")

In [123]:
industry_metrics["total_trips_per_day"] = industry_metrics["trips_per_day"] + industry_metrics["trips_per_day_shared"]

In [124]:
industry_metrics["shared_trips_per_day_percent"] = np.round(industry_metrics["trips_per_day_shared"] / industry_metrics["total_trips_per_day"], 2)

In [125]:
industry_metrics['month_year1'] = pd.to_datetime(industry_metrics['month_year']).dt.to_period('M')
industry_metrics['days'] = pd.to_datetime(industry_metrics['month_year1'].astype(str) + '-01').dt.daysinmonth
industry_metrics['trips_per_month'] = industry_metrics['trips_per_day'] * industry_metrics['days']
industry_metrics['month_date'] = pd.to_datetime(industry_metrics['month_year'] + '-28')
industry_metrics['farebox_per_month'] = industry_metrics['farebox_per_day'] * industry_metrics['days']
industry_metrics['week'] = pd.to_datetime(industry_metrics['month_date']).dt.strftime('%W').astype('category')
industry_metrics['trips_per_week'] = industry_metrics['trips_per_day'] * 7
industry_metrics['year'] = pd.to_datetime(industry_metrics['month_year']).dt.strftime('%Y')
industry_metrics['farebox_per_week'] = industry_metrics['farebox_per_day'] * 7
industry_metrics['license_class'] = industry_metrics['license_class'].astype('category')
industry_metrics['total_trips_per_day'] = industry_metrics['trips_per_day'] + industry_metrics['trips_per_day_shared']
industry_metrics['shared_trips_per_day_percent'] = round(industry_metrics['trips_per_day_shared'] / industry_metrics['total_trips_per_day'], 2)

Copy for compatibility with old code

In [126]:
industry_metrics = industry_metrics.copy()

In [127]:
# remove the 'days' column
industry_metrics.drop(columns=["days"], inplace=True)

In [128]:
# reorder rows by 'license_class' and 'month_date'
industry_metrics = industry_metrics.sort_values(by=["license_class", "month_date"], ascending=[True, False])
industry_metrics.reset_index(drop=True)

,license_class,trips_per_day,farebox_per_day,unique_drivers,unique_vehicles,vehicles_per_day,avg_days_vehicles_on_road,avg_hours_per_day_per_vehicle,avg_days_drivers_on_road,avg_hours_per_day_per_driver,...,month_year1,trips_per_month,month_date,farebox_per_month,week,trips_per_week,year,farebox_per_week,total_trips_per_day,shared_trips_per_day_percent
0,FHV - Black Car,19063,0,7852,7550,3178,13.0,4.5,12.8,4.4,...,2022-12,590953,2022-12-28,0,52,133441,2022,0,19063,0.0
1,FHV - Black Car,16695,0,7175,7146,3119,13.1,4.2,13.1,4.2,...,2022-11,500850,2022-11-28,0,48,116865,2022,0,16695,0.0
2,FHV - Black Car,17143,0,7360,7027,3105,13.7,4.3,13.4,4.2,...,2022-10,531433,2022-10-28,0,43,120001,2022,0,17143,0.0
3,FHV - Black Car,17259,0,7184,6949,3060,13.2,4.3,13.1,4.2,...,2022-09,517770,2022-09-28,0,39,120813,2022,0,17259,0.0
4,FHV - Black Car,12590,0,6268,6223,2551,12.7,3.8,12.8,3.8,...,2022-08,390290,2022-08-28,0,34,88130,2022,0,12590,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,Yellow,499374,5561218,30950,13309,12729,29.6,14.8,22.7,8.3,...,2010-05,15480594,2010-05-28,172397758,21,3495618,2010,38928526,499374,0.0
649,Yellow,504798,5502545,30827,13326,12856,28.9,14.8,22.3,8.3,...,2010-04,15143940,2010-04-28,165076350,17,3533586,2010,38517815,504798,0.0
650,Yellow,415567,3011750,28709,12183,10382,26.4,15.1,20.4,8.3,...,2010-03,12882577,2010-03-28,93364250,12,2908969,2010,21082250,415567,0.0
651,Yellow,397969,3392416,28255,12171,10045,23.1,14.6,17.6,8.3,...,2010-02,11143132,2010-02-28,94987648,08,2785783,2010,23746912,397969,0.0
652,Yellow,479376,4968817,30659,13305,12727,29.7,14.3,22.5,8.2,...,2010-01,14860656,2010-01-28,154033327,04,3355632,2010,34781719,479376,0.0

In [129]:
# convert 'industry_metrics' to a pandas dataframe
industry_metrics = pd.DataFrame(industry_metrics)

In [145]:
industry_metrics['license_class'].unique()

['FHV - Black Car', 'FHV - High Volume', 'FHV - Livery', 'FHV - Lux Limo', 'Green', 'Yellow']
Categories (6, object): ['FHV - Black Car', 'FHV - High Volume', 'FHV - Livery', 'FHV - Lux Limo', 'Green', 'Yellow']

In [131]:
industry_metrics.to_csv('df.csv')

In [144]:
# Filtrar las filas donde la columna 'license_class' es igual a 'Yellow'
yellow = industry_metrics[industry_metrics['license_class'] == 'Yellow'].copy()
yellow = yellow.set_index('month_date')
yellow.to_csv('yellow.csv')
yellow = pd.read_csv('yellow.csv',index_col=['month_date'])
yellow

,license_class,trips_per_day,farebox_per_day,unique_drivers,unique_vehicles,vehicles_per_day,avg_days_vehicles_on_road,avg_hours_per_day_per_vehicle,avg_days_drivers_on_road,avg_hours_per_day_per_driver,...,month_year,month_year1,trips_per_month,farebox_per_month,week,trips_per_week,year,farebox_per_week,total_trips_per_day,shared_trips_per_day_percent
month_date,,,,,,,,,,,,,,,,,,,,,
2022-12-28,Yellow,109290,2358924,10749,7791,6529,26.0,8.7,22.0,7.5,...,Dec-2022,2022-12,3387990,73126644,52,765030,2022,16512468,109290,0.0
2022-11-28,Yellow,108146,2088897,10804,7685,6100,23.8,9.1,19.9,7.7,...,Nov-2022,2022-11,3244380,62666910,48,757022,2022,14622279,108146,0.0
2022-10-28,Yellow,118027,2293014,10730,7576,6437,26.3,9.2,21.9,7.8,...,Oct-2022,2022-10,3658837,71083434,43,826189,2022,16051098,118027,0.0
2022-09-28,Yellow,105740,2100507,10242,7373,6000,24.4,8.9,20.4,7.6,...,Sep-2022,2022-09,3172200,63015210,39,740180,2022,14703549,105740,0.0
2022-08-28,Yellow,101328,1918370,9678,7169,5823,25.2,8.8,21.6,7.6,...,Aug-2022,2022-08,3141168,59469470,34,709296,2022,13428590,101328,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-05-28,Yellow,499374,5561218,30950,13309,12729,29.6,14.8,22.7,8.3,...,May-2010,2010-05,15480594,172397758,21,3495618,2010,38928526,499374,0.0
2010-04-28,Yellow,504798,5502545,30827,13326,12856,28.9,14.8,22.3,8.3,...,Apr-2010,2010-04,15143940,165076350,17,3533586,2010,38517815,504798,0.0
2010-03-28,Yellow,415567,3011750,28709,12183,10382,26.4,15.1,20.4,8.3,...,Mar-2010,2010-03,12882577,93364250,12,2908969,2010,21082250,415567,0.0
2010-02-28,Yellow,397969,3392416,28255,12171,10045,23.1,14.6,17.6,8.3,...,Feb-2010,2010-02,11143132,94987648,8,2785783,2010,23746912,397969,0.0
2010-01-28,Yellow,479376,4968817,30659,13305,12727,29.7,14.3,22.5,8.2,...,Jan-2010,2010-01,14860656,154033327,4,3355632,2010,34781719,479376,0.0

In [146]:
# Filtrar las filas donde la columna 'license_class' es igual a 'Green'
green = industry_metrics[industry_metrics['license_class'] == 'Green'].copy()
green = green.set_index('month_date')
green.to_csv('green.csv')
green = pd.read_csv('green.csv',index_col=['month_date'])
green

,license_class,trips_per_day,farebox_per_day,unique_drivers,unique_vehicles,vehicles_per_day,avg_days_vehicles_on_road,avg_hours_per_day_per_vehicle,avg_days_drivers_on_road,avg_hours_per_day_per_driver,...,month_year,month_year1,trips_per_month,farebox_per_month,week,trips_per_week,year,farebox_per_week,total_trips_per_day,shared_trips_per_day_percent
month_date,,,,,,,,,,,,,,,,,,,,,
2022-12-28,Green,2336,45208,965,942,496,16.3,3.6,16.1,3.5,...,Dec-2022,2022-12,72416,1401448,52,16352,2022,316456,2336,0.0
2022-11-28,Green,2076,35984,958,910,458,15.1,3.5,14.5,3.4,...,Nov-2022,2022-11,62280,1079520,48,14532,2022,251888,2076,0.0
2022-10-28,Green,2236,39960,965,929,485,16.2,3.5,15.8,3.5,...,Oct-2022,2022-10,69316,1238760,43,15652,2022,279720,2236,0.0
2022-09-28,Green,2300,43814,964,928,491,15.9,3.6,15.4,3.5,...,Sep-2022,2022-09,69000,1314420,39,16100,2022,306698,2300,0.0
2022-08-28,Green,2126,38915,962,925,475,16.0,3.5,15.5,3.4,...,Aug-2022,2022-08,65906,1206365,34,14882,2022,272405,2126,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-28,Green,19435,257398,3317,2736,1707,19.3,6.8,16.9,6.4,...,Dec-2013,2013-12,602485,7979338,51,136045,2013,1801786,19435,0.0
2013-11-28,Green,12692,168976,2160,1754,1044,17.9,7.1,15.5,6.6,...,Nov-2013,2013-11,380760,5069280,47,88844,2013,1182832,12692,0.0
2013-10-28,Green,5477,74128,1261,1128,500,13.7,6.6,12.8,6.3,...,Oct-2013,2013-10,169787,2297968,43,38339,2013,518896,5477,0.0
2013-09-28,Green,1632,23087,478,445,159,10.7,6.3,10.2,6.2,...,Sep-2013,2013-09,48960,692610,38,11424,2013,161609,1632,0.0
2013-08-28,Green,283,4028,129,114,33,7.3,5.4,6.8,5.1,...,Aug-2013,2013-08,8773,124868,34,1981,2013,28196,283,0.0

In [147]:
# Filtrar las filas donde la columna 'license_class' es igual a 'FHV - High Volume'
FHVHV = industry_metrics[industry_metrics['license_class'] == 'FHV - High Volume'].copy()
FHVHV = FHVHV.set_index('month_date')
FHVHV.to_csv('FHVHV.csv')
FHVHV = pd.read_csv('FHVHV.csv',index_col=['month_date'])
FHVHV

,license_class,trips_per_day,farebox_per_day,unique_drivers,unique_vehicles,vehicles_per_day,avg_days_vehicles_on_road,avg_hours_per_day_per_vehicle,avg_days_drivers_on_road,avg_hours_per_day_per_driver,...,month_year,month_year1,trips_per_month,farebox_per_month,week,trips_per_week,year,farebox_per_week,total_trips_per_day,shared_trips_per_day_percent
month_date,,,,,,,,,,,,,,,,,,,,,
2022-12-28,FHV - High Volume,634379,0,78091,74877,52087,21.6,6.6,21.1,6.4,...,Dec-2022,2022-12,19665749,0,52,4440653,2022,0,645051,0.02
2022-11-28,FHV - High Volume,602859,0,77233,74246,51703,20.9,6.5,20.5,6.3,...,Nov-2022,2022-11,18085770,0,48,4220013,2022,0,612195,0.02
2022-10-28,FHV - High Volume,622770,0,76651,73747,51532,21.7,6.6,21.2,6.5,...,Oct-2022,2022-10,19305870,0,43,4359390,2022,0,626343,0.01
2022-09-28,FHV - High Volume,593114,0,75194,72616,49980,20.6,6.6,20.3,6.5,...,Sep-2022,2022-09,17793420,0,39,4151798,2022,0,593557,0.00
2022-08-28,FHV - High Volume,554361,0,72640,70497,46996,20.7,6.5,20.4,6.4,...,Aug-2022,2022-08,17185191,0,34,3880527,2022,0,554827,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-05-28,FHV - High Volume,94103,0,19076,14122,8120,17.8,5.4,18.0,5.6,...,May-2015,2015-05,2917193,0,21,658721,2015,0,94103,0.00
2015-04-28,FHV - High Volume,82498,0,16473,16006,9711,18.2,5.6,17.8,5.5,...,Apr-2015,2015-04,2474940,0,17,577486,2015,0,82498,0.00
2015-03-28,FHV - High Volume,72889,0,14995,14290,8579,18.6,5.5,18.2,5.5,...,Mar-2015,2015-03,2259559,0,12,510223,2015,0,72889,0.00
2015-02-28,FHV - High Volume,77796,0,14180,13531,8402,17.4,5.8,17.1,5.8,...,Feb-2015,2015-02,2178288,0,8,544572,2015,0,77796,0.00
2015-01-28,FHV - High Volume,60357,0,13153,12544,7265,18.0,5.4,17.6,5.3,...,Jan-2015,2015-01,1871067,0,4,422499,2015,0,60357,0.00