In [1]:
import pandas as pd
import datetime as dt
import gradio as gr

In [2]:
import warnings 
pd.options.mode.chained_assignment = None # se desactiva advertencias de pandas por la edición_sobrescritura

In [3]:
vehicular_volume=pd.read_csv("../data/finale_dataset/vehicular_volume.csv")
air_quality=pd.read_csv("../data/finale_dataset/air_quality.csv")

In [4]:
air_quality.groupby(['borough'])['pm 2.5'].mean().reset_index()

         borough     pm 2.5
0       brooklyn   9.263040
1      manhattan  10.874167
2         queens   8.929167
3  staten_island   8.486759
4      the_bronx   9.709606

In [5]:
vehicular_volume=vehicular_volume[['date','borough','volume']]
vehicular_volume['date']=pd.to_datetime(vehicular_volume['date']).dt.year
vehicular_volume=vehicular_volume.groupby(['borough']).volume.mean().reset_index()
vehicular_volume

         borough      volume
0       brooklyn   96.463480
1      manhattan  134.862131
2         queens   98.695875
3  staten_island   83.076206
4      the_bronx  132.184889

In [6]:
def kpi_brooklyn(carros):
    
    volume_brooklyn = 97 * 4 * 24
    pm_brooklyn = 9.3
    OMS = 5
    meta_OMS_brooklyn = (OMS - pm_brooklyn)/OMS
    pm_corre_brooklyn = (carros * (pm_brooklyn * 0.35)) / volume_brooklyn
    disminuye_brooklyn = pm_brooklyn - pm_corre_brooklyn
    metacorre_brooklyn = (OMS - disminuye_brooklyn) / OMS
    pctje_brooklyn = (metacorre_brooklyn - meta_OMS_brooklyn) / meta_OMS_brooklyn
    brooklyn=round(-100*pctje_brooklyn,2)
    
    return brooklyn

def kpi_manhattan(carros):
    volume_manhattan = 135 * 4 * 24
    pm_manhattan = 11
    OMS = 5
    meta_OMS_manhattan = (OMS - pm_manhattan) / OMS
    pm_corre_manhattan = (carros * (pm_manhattan * 0.35)) / volume_manhattan
    disminuye_manhattan = pm_manhattan - pm_corre_manhattan
    metacorre_manhattan = (OMS - disminuye_manhattan) / OMS
    pctje_manhattan = (metacorre_manhattan - meta_OMS_manhattan) / meta_OMS_manhattan
    manhattan=round(-100*pctje_manhattan,2)
    
    return manhattan

def kpi_queen(carros):
    volume_queen = 99 * 4 * 24
    pm_queen = 9
    OMS = 5
    meta_OMS_queen = (OMS - pm_queen) / OMS
    pm_corre_queen = (carros * (pm_queen * 0.35)) / volume_queen
    disminuye_queen = pm_queen - pm_corre_queen
    metacorre_queen = (OMS - disminuye_queen) / OMS
    pctje_queen = (metacorre_queen - meta_OMS_queen) / meta_OMS_queen
    queen=round(-100*pctje_queen,2)
    
    return queen

def kpi_staten_island(carros):
    volume_staten_island = 83 * 4 * 24
    pm_staten_island = 8
    OMS = 5
    meta_OMS_staten_island = (OMS - pm_staten_island) / OMS
    pm_corre_staten_island = (carros * (pm_staten_island * 0.35)) / volume_staten_island
    disminuye_staten_island = pm_staten_island - pm_corre_staten_island
    metacorre_staten_island = (OMS - disminuye_staten_island) /OMS
    pctje_staten_island = (metacorre_staten_island - meta_OMS_staten_island) / meta_OMS_staten_island
    staten_island=round(-100*pctje_staten_island,2)
    
    return staten_island

def kpi_the_bronx(carros):
    volume_the_bronx = 132 * 4 * 24
    pm_the_bronx = 9.7
    OMS = 5
    meta_OMS_the_bronx = (OMS - pm_the_bronx) / OMS
    pm_corre_the_bronx = (carros * (pm_the_bronx * 0.35)) / volume_the_bronx
    disminuye_the_bronx = pm_the_bronx - pm_corre_the_bronx
    metacorre_the_bronx = (OMS - disminuye_the_bronx) /OMS
    pctje_the_bronx = (metacorre_the_bronx - meta_OMS_the_bronx) / meta_OMS_the_bronx
    the_bronx= round(-100*pctje_the_bronx,2)
    
    return the_bronx

def calcular_kpis(carros):
    kpi_b = kpi_brooklyn(carros)
    kpi_m = kpi_manhattan(carros)
    kpi_q = kpi_queen(carros)
    kpi_s = kpi_staten_island(carros)
    kpi_bx= kpi_the_bronx(carros)
    
    indicador=f" {int(carros)} carros eléctricos generan un % de avance hacia la meta establecida por la OMS de: |Brooklyn {kpi_b}% | Manhattan {kpi_m}% |Quenns {kpi_q}% | Staten Islands {kpi_s}% |Bronx {kpi_bx}% |"
    return indicador

In [7]:

calcular_kpis(3)

' 3 carros eléctricos generan un % de avance hacia la meta establecida por la OMS de: |Brooklyn 0.02% | Manhattan 0.01% |Quenns 0.02% | Staten Islands 0.04% |Bronx 0.02% |'

In [8]:
import gradio as gr

title = "REPORTE MEDIOAMBIENTAL"

table_html = """
   <table>
  <tr>
    <th>borough</th>
    <th>PM</th>
    <th>Meta</th>
    <th>% Disminución para el objetivo</th>
  </tr>
  <tr>
    <td>brooklyn</td>
    <td>9,3</td>
    <td>5</td>
    <td>-85</td>
  </tr>
  <tr>
    <td>manhattan</td>
    <td>10,9</td>
    <td>5</td>
    <td>-117</td>
  </tr>
  <tr>
    <td>queens</td>
    <td>8,9</td>
    <td>5</td>
    <td>-79</td>
  </tr>
  <tr>
    <td>staten_island</td>
    <td>8,5</td>
    <td>5</td>
    <td>-70</td>
  </tr>
  <tr>
    <td>the_bronx</td>
    <td>9,7</td>
    <td>5</td>
    <td>-94</td>
  </tr>
</table>
"""

with gr.Blocks(title=title) as demo:
    text = gr.components.HTML("""
        <h1>Indicadores Ambientales</h1>
        <h2>Contaminacón al aire</h2>
        <p> La OMS ha establecido un límite de 5µg/cm3 de PM 2.5 Promedio al año. Las ciudades  deberán adoptar políticas y estrategias
        para alcanzar esta meta. Los Boroughs de NYC cuentan con la siguiente distribución de material particulado. <br>
        
        """ + table_html + """
        
       Se genera un indicador clave de rendimiento que estipula el Porcentaje de Avance a la meta proyectada por la OMS en función 
       al número de vehículos eléctricos en una flota de automóviles que transporten pasajeros en un año.<br>

       <b> KPI: Valor Porcentual de Avance a Meta OMS por # de Autos Eléctricos </b>
        
        </p>
    """)
    
    vehiculos_electricos = gr.Number(label="Numero de Vehículos Electricos en la Flota")
    calcular_btn = gr.Button("% Avance a la Meta per # Vehículos Eléctricos:")
    indicador = gr.Textbox(label = "Indicadores:")
    
    calcular_btn.click(fn=calcular_kpis, inputs=[vehiculos_electricos], outputs=[indicador])
    

demo.launch(share=True)

Running on local URL:  http://127.0.0.1:7860
Running on public URL: https://89ae3c5539eb70f80b.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades (NEW!), check out Spaces: https://huggingface.co/spaces