In [2]:
import pandas as pd

In [3]:
df=pd.read_parquet("yellow_tripdata_2022-12.parquet")

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-12-01 00:37:35,2022-12-01 00:47:35,1.0,2.00,1.0,N,170,237,1,8.5,3.00,0.5,3.10,0.0,0.3,15.40,2.5,0.00
1,1,2022-12-01 00:34:35,2022-12-01 00:55:21,0.0,8.40,1.0,N,138,141,2,26.0,4.25,0.5,0.00,0.0,0.3,31.05,2.5,1.25
2,1,2022-12-01 00:33:26,2022-12-01 00:37:34,1.0,0.80,1.0,N,140,140,1,5.0,3.00,0.5,1.76,0.0,0.3,10.56,2.5,0.00
3,1,2022-12-01 00:45:51,2022-12-01 00:53:16,1.0,3.00,1.0,N,141,79,3,10.0,3.00,0.5,0.00,0.0,0.3,13.80,2.5,0.00
4,2,2022-12-01 00:49:49,2022-12-01 00:54:13,1.0,0.76,1.0,N,261,231,1,5.0,0.50,0.5,1.76,0.0,0.3,10.56,2.5,0.00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3399549 entries, 0 to 3399548
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 492.8+ MB

busqueda de valores nulos en columnas claves

In [9]:
df[["tpep_pickup_datetime","tpep_dropoff_datetime","trip_distance","PULocationID","DOLocationID","fare_amount","total_amount",]].isna().value_counts()

tpep_pickup_datetime  tpep_dropoff_datetime  trip_distance  PULocationID  DOLocationID  fare_amount  total_amount
False                 False                  False          False         False         False        False           3399549
dtype: int64

busqueda de valores anómalos en fechas

In [10]:
df.tpep_pickup_datetime.dt.year.unique()

array([2022, 2023])

In [11]:
df.tpep_pickup_datetime.dt.month.unique()

array([12, 11,  1])

Dataset de zonas y borough

In [13]:
dfzones=pd.read_csv("taxi+_zone_lookup.csv")

In [14]:
dfzones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

uniendo el dataset de viajes y zonas

In [15]:
df_viajes= df.merge(dfzones, left_on="PULocationID", right_on="LocationID").merge(dfzones, left_on="DOLocationID", right_on="LocationID", suffixes=["_origen", "_destino"])

In [16]:
df_viajes.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,congestion_surcharge,airport_fee,LocationID_origen,Borough_origen,Zone_origen,service_zone_origen,LocationID_destino,Borough_destino,Zone_destino,service_zone_destino
0,1,2022-12-01 00:37:35,2022-12-01 00:47:35,1.0,2.00,1.0,N,170,237,1,...,2.5,0.0,170,Manhattan,Murray Hill,Yellow Zone,237,Manhattan,Upper East Side South,Yellow Zone
1,2,2022-12-01 01:11:24,2022-12-01 01:16:44,1.0,1.72,1.0,N,170,237,1,...,2.5,0.0,170,Manhattan,Murray Hill,Yellow Zone,237,Manhattan,Upper East Side South,Yellow Zone
2,1,2022-12-01 06:58:54,2022-12-01 07:08:11,1.0,1.30,1.0,N,170,237,1,...,2.5,0.0,170,Manhattan,Murray Hill,Yellow Zone,237,Manhattan,Upper East Side South,Yellow Zone
3,2,2022-12-01 06:50:04,2022-12-01 06:58:40,1.0,2.45,1.0,N,170,237,2,...,2.5,0.0,170,Manhattan,Murray Hill,Yellow Zone,237,Manhattan,Upper East Side South,Yellow Zone
4,2,2022-12-01 06:56:01,2022-12-01 07:01:26,2.0,1.33,1.0,N,170,237,1,...,2.5,0.0,170,Manhattan,Murray Hill,Yellow Zone,237,Manhattan,Upper East Side South,Yellow Zone

In [17]:
df_viajes.drop(columns=["LocationID_origen","LocationID_destino"],inplace=True)

cantidad de viajes origen-destino

In [18]:
ori_dest=df_viajes.groupby(by=["Borough_origen","Borough_destino"]).size()

In [19]:
ori_dest.to_frame().reset_index().rename(columns={0:"Cant_viajes"}).sort_values(by="Cant_viajes",ascending=False).head(8)

   Borough_origen Borough_destino  Cant_viajes
22      Manhattan       Manhattan      2771395
29         Queens       Manhattan       178662
23      Manhattan          Queens       124358
30         Queens          Queens        76256
20      Manhattan        Brooklyn        72129
27         Queens        Brooklyn        44813
43        Unknown       Manhattan        24785
46        Unknown         Unknown        20212

-zonas con valores desconocidos

*Mayores promedios de distancias según origen/destino*

In [20]:
df_viajes.groupby(by=["Borough_origen","Borough_destino"])["trip_distance"].mean().sort_values(ascending=False)

Borough_origen  Borough_destino
Staten Island   Unknown            37.370000
Queens          EWR                33.077390
Bronx           EWR                27.090000
Queens          Staten Island      24.785840
Unknown         Staten Island      24.220741
Brooklyn        Manhattan          23.058552
EWR             Brooklyn           22.930000
Bronx           Staten Island      22.224138
Staten Island   Bronx              20.908696
Unknown         Brooklyn           18.249497
Queens          Unknown            18.020252
Manhattan       EWR                17.558578
Brooklyn        EWR                17.364023
Manhattan       Staten Island      16.998860
Queens          Bronx              15.416783
                Manhattan          15.126044
Unknown         EWR                14.953378
Staten Island   Brooklyn           14.875733
Manhattan       Queens             14.362708
Staten Island   Manhattan          13.776277
Queens          Brooklyn           13.545329
Brooklyn        Staten Island      12.686400
                Bronx              12.528359
Bronx           Brooklyn           12.263701
Brooklyn        Queens             12.085049
Staten Island   EWR                11.725000
                Queens             11.713667
Unknown         Bronx              11.583583
                Queens             10.417075
                Manhattan          10.247971
Manhattan       Brooklyn           10.184833
Bronx           Queens              9.231494
Brooklyn        Unknown             8.927440
Manhattan       Bronx               8.908861
EWR             Manhattan           7.749000
                Queens              7.230000
Manhattan       Unknown             6.119633
Bronx           Manhattan           5.901383
                Unknown             5.867600
Queens          Queens              5.721355
Unknown         Unknown             4.353768
Manhattan       Manhattan           3.003697
Bronx           Bronx               2.963546
Brooklyn        Brooklyn            2.661865
Staten Island   Staten Island       1.562844
EWR             Unknown             0.922240
                EWR                 0.370197
Name: trip_distance, dtype: float64

dias y horarios con mayor demanda

In [26]:
df_viajes.tpep_pickup_datetime.dt.day_name().value_counts()

Thursday     591969
Friday       580560
Saturday     544426
Wednesday    457579
Tuesday      446729
Monday       405919
Sunday       372367
Name: tpep_pickup_datetime, dtype: int64

In [27]:
df_viajes.tpep_pickup_datetime.dt.hour.value_counts()

18    223245
17    217750
15    214532
14    210496
16    208501
19    208501
13    202156
12    195981
20    188190
21    185317
11    182326
22    169442
10    168292
9     147023
23    141093
8     121465
0     101220
7      88632
1      64773
6      48332
2      43193
3      28388
5      20886
4      19815
Name: tpep_pickup_datetime, dtype: int64